AZURE_RESOURCE_GROUP=developer-equinor-com
AZURE_ACR_NAME=developeracr
AZURE_SP_NAME=developerAppService
AZURE_SERVICE_PRINCIPAL_NAME=developerequinor
AZURE_WEBAPP_IMAGE=client:develop
AZURE_ACR_URL=developerregistry.azurecr.io
AZURE_WEBAPP_CLIENT_NAME=developer-equinor
AZURE_SUBSCRIPTION="SDP Tools"
AZURE_LOCATION="North Europe"
DOMAIN="developer.equinor.com"
NPM_TOKEN=
SSL_PATH="./cert/developer.equinor.com.pfx"
CERT_PASSWD=""
GITHUB_PERSONAL_TOKEN=
