/**
  For better performance, fonts should be hosted and linked to in index.html.
  Since we're having many files, downloading all the font files will block the render of the page and
  delay the loading, a white screen is displayed longer than if hosted font is used.
  Caching both at server and browser should avoid these performance issues the second time a user visit the page.
 */

@font-face {
  font-family: 'Equinor-Bold';
  src:
    url('./assets/fonts/equinor/Equinor-Bold.woff2') format('woff2'),
    url('./assets/fonts/equinor/Equinor-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Equinor-BoldItalic';
  src:
    url('./assets/fonts/equinor/Equinor-BoldItalic.woff2') format('woff2'),
    url('./assets/fonts/equinor/Equinor-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Equinor-Italic';
  src:
    url('./assets/fonts/equinor/Equinor-Italic.woff2') format('woff2'),
    url('./assets/fonts/equinor/Equinor-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Equinor-Light';
  src:
    url('./assets/fonts/equinor/Equinor-Light.woff2') format('woff2'),
    url('./assets/fonts/equinor/Equinor-Light.woff') format('woff');
}

@font-face {
  font-family: 'Equinor-LightItalic';
  src:
    url('./assets/fonts/equinor/Equinor-LightItalic.woff2') format('woff2'),
    url('./assets/fonts/equinor/Equinor-LightItalic.woff') format('woff');
}

@font-face {
  font-family: 'Equinor-Medium';
  src:
    url('./assets/fonts/equinor/Equinor-Medium.woff2') format('woff2'),
    url('./assets/fonts/equinor/Equinor-Medium.woff') format('woff');
}

/*Statoil display*/
@font-face {
  font-family: 'Equinor-MediumItalic';
  src:
    url('./assets/fonts/equinor/Equinor-MediumItalic.woff2') format('woff2'),
    url('./assets/fonts/equinor/Equinor-MediumItalic.woff') format('woff');
}

@font-face {
  font-family: 'Equinor-Regular';
  src:
    url('./assets/fonts/equinor/Equinor-Regular.woff2') format('woff2'),
    url('./assets/fonts/equinor/Equinor-Regular.woff') format('woff');
}

